

/* .manual{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-size: 1.2em;
}
 */
