.red-room-free, .red-room-free-home,
.blue-room-free, .blue-room-free-home,
.green-room-free, .green-room-free-home,
.violet-room-free, .violet-room-free-home,
.brown-room-free, .brown-room-free-home,

.red-room-reserved, .blue-room-reserved,
.green-room-reserved, .brown-room-reserved,
.violet-room-reserved,

.red-room-chosen, .blue-room-chosen,
.green-room-chosen, .brown-room-chosen,
.violet-room-chosen
{
    width: 2em;
    height: 2em;
    border-radius: 0.4em;
    margin: 0.5em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.red-room-free, .red-room-free-home {
    border: solid 2px rgb(178,34,34);
    background:rgba(240,128,128,0.1);
    color: rgb(178,34,34);
}

.blue-room-free, .blue-room-free-home{
    border: solid 2px rgb(18, 11, 120);
    background:rgba(97, 143, 236, 0.1); 
    color: rgb(18, 11, 120);
}

.green-room-free, .green-room-free-home  {
    border: solid 2px rgba(19, 55, 11, 0.9);
    background:rgba(193, 241, 183, 0.1); 
    color: rgba(19, 55, 11, 0.9);
} 

.brown-room-free, .brown-room-free-home  {
    border: solid 2px rgba(139, 93, 93, 1);
    background:rgba(193, 145, 145, 0.1); 
    color: rgba(139, 93, 93, 1);
} 

.violet-room-free, .violet-room-free-home  {
    border: solid 2px rgba(108, 92, 231, 1);
    background:rgba(123, 136, 255, 0.1); 
    color: rgba(108, 92, 231, 1);
} 



.red-room-free:hover {
    background:rgba(240,128,128,0.8);
}

.blue-room-free:hover {
    background:rgba(31, 112, 251, 0.6);
}

.green-room-free:hover {
    background:rgba(112, 251, 31, 0.6);
}

.brown-room-free:hover {
    background:rgba(202, 160, 160, 0.6);
}

.violet-room-free:hover {
    background:rgba(189,  173,  255, 0.6);
}


.red-room-reserved {
    border: solid 2px rgb(178,34,34);
    background:rgba(220,20,60,0.9);
    color: rgb(255,182,193);
}

.blue-room-reserved {
    border: solid 2px rgb(18, 11, 120);
    background:rgba(31, 21, 182,0.9);
    color: rgba(206, 221, 252, 1);
}

.green-room-reserved {
    border: solid 2px rgba(19, 55, 11, 0.9);
    background:rgba(33, 100, 19, 1);
    color: rgba(216, 255, 206, 1); 
}

.brown-room-reserved  {
    border: solid 2px rgba(139, 93, 93, 1);
    background:rgba(109, 57, 57, 1); 
    color: rgba(255,  236, 236, 0.85);
} 

.violet-room-reserved  {
    border: solid 2px rgba(108, 92, 231, 1);
    background:rgba(108, 92, 231, 0.9); 
    color: rgba(255,  245,  255, 1);
} 





.red-room-chosen {
    border: solid 4px rgb(178,34,34);
    background: orange;
    color: rgb(178,34,34);
}

.green-room-chosen {
    border: solid 4px rgba(19, 55, 11, 0.9);
    background: orange;
    color: rgba(19, 55, 11, 0.9);
}

.blue-room-chosen {
    border: solid 4px rgb(18, 11, 120);
    background: orange;
    color: rgb(18, 11, 120);
}

.violet-room-chosen  {
    border: solid 4px rgba(108, 92, 231, 1);
    background: orange;
    color: solid 4px rgba(108, 92, 231, 1);
} 

.brown-room-chosen   {
    border: solid 4px rgba(139, 93, 93, 1);
    background: orange;
    color: solid 2px rgba(139, 93, 93, 1);
} 