.all-hours-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 2em;   
}

.one-hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hour-container {
    padding-left: 0.5em;
}

@media only screen and (max-width: 480px) {
    .all-hours-container {
        flex-direction: column;
    }
    .one-hour-container{
        flex-direction: row;
    }
}