.ticket_edition-main{
    position: fixed;
    background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(63,81,181,1) 50%, rgba(33,33,105,0.9654236694677871) 100%);
    color: white;
    top: 2em;
    padding: 2em;
    margin-right: 2em;
    margin-left: 2em;
    overflow: scroll;
    /* overflow-y: auto; */
    overflow-x: auto;
    min-width: 70%;
    max-height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.ticket_edition-data-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.ticket_edition-input{
    border:0;
    padding: 0.5em;
    border-radius: 1em; 
    margin: 1em;
}