.upperbar-container {
    flex-grow: 1;
    width: 100%
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    /* overflow: hidden; */
}

.date-render-switcher-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif; 
    font-size: 1em;  
}

.signup-button{
    color: #FBFBFF !important;
    cursor: pointer !important;
}

.signup-button:hover{
    color: 	#F1BF98 !important;
}

.signin-button{
    color: #15cda8 !important;
    font-weight: bold !important;
    margin-left: 0.5em !important;
    border: solid 0.25em #15cda8 !important;
}

.signin-button:hover{
    border: solid 0.25em	#F1BF98 !important;
    color: 	#F1BF98 !important;
}

/* .active-previous-day {
    padding-top: 0.05em;
    color: rgb(21, 205, 168);
    cursor: pointer;
    margin:0;
    padding:0;
}
.active-previous-day:hover  {
    color: orange;
    
}

.inactive-previous-day {
    padding-top: 0.05em;
    color: lightgrey;
    margin:0;
    padding:0;
}

.next-day {
    padding-top: 0.05em;
    color: rgb(21, 205, 168);
    cursor: pointer;
    margin:0;
    padding:0;
}
.next-day:hover  {
    color: orange;
    margin:0;
    padding:0;  
} */

 .burger-menu {
    position: absolute;
    background: #070600;
    width: 85%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 1em; 
}
  
  .burger-menu a {
      margin-right: 1em;
}

  .burger-menu-span:hover {
    color: #DFDFDF;
}
  

.burger-menu-icon{
    color: white;
    font-size: 20px;
    /* background: black; */
    padding: 0em;
}

.burger-menu-span{
    color: white;
}

.burger-menu-icon:hover {
    color: #4183c4;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .upperbar-container {
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .date-render-switcher-container {
        display: none
    } 

    .MuiToolbar-gutters {
        padding-left: 0 !important;
    }  
}



