.prior-reservations-container{
        color: #945600;
        border: 1em solid #2185D0;
        background: #E8F1F2;
        border-radius: 2em;
        margin-bottom: 2em;
        margin-top: 2em;
        font-size: 1.2em;
}

.prior-reservations-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #945600;
    margin-top: 1em;
}

.prior-reservations-tickets-container{
    margin-top: 1em;
    color: #13293D;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;   
}

.prior-reservations-tickets-table-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}